* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 240px 1fr 323px;
    background-color: #0e0e10;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

header {
    grid-column: span 3;
    height: 50px;
    width: 100%;
    background-color: #18181b;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 0px rgb(14, 14, 14);
    position: fixed;
}

#header-gauche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 280px;
    font-weight: bold;
    font-size: 1.1rem;
}

#header-gauche img {
    height: 100%;
}


#header-milieu {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

#boutonRecherche input {
    width: 350px;
    height: 35px;
    border-radius: 5px 0px 0px 5px;
    background-color: #18181b;
    padding-left: 5px;
    border: 1px solid rgb(117, 117, 117);
    font-weight: bolder;
}

#header-milieu button {
    height: 35px;
    background-color: #2f2f35;
    padding: 5px;
    border-radius: 0px 8px 8px 0px;
    border-style: none;
}

#header-milieu img {
    padding-top: 2px;
}

#header-droite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

#header-droite button {
    background-color: #2f2f35;
    padding: 6px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: none;
}
#header-droite button  img{
    margin-right: 4px;
}

#bloc-logo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 150px;
}

#bloc-logo img {
    margin-left: 15px;
}

nav {
    background-color: #1f1f23;
    height: 100vh;
}

.pourVous {
    display: flex;
    margin-top: 50px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

.pourVous {
    padding-right: 12px;
}

.stories {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 5px;
    color: #bf94ff;
    font-size: 0.8rem;
}

.stories:hover {
    background-color: #28282e;
}

.chainesSuivies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    font-size: 0.8rem;
}

.chainesSuivies img {
    padding-right: 15px;
}

.chainesSuivies:hover {
    background-color: #28282e;
}

#titreFolows {
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
}

#sortSpectat {
    color: rgb(153, 153, 153);
}

.linkStreamer {
    display: flex;
    height: 42px;
    align-items: center;
    font-size: 0.9rem;
    justify-content: space-between;
}

.linkStreamer:hover {
    background-color: #28282e;
}

.group_info {
    display: flex;
}

#logo_nav {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.groupText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.userName_streamer {
    margin-bottom: 2px;
    font-weight: bold;
}

.stream_category {
    color: rgb(153, 153, 153);
    font-size: 0.8rem;
}

.enLigne {
    display: flex;
    padding-bottom: 15px;
    padding-right: 7px;
    color: rgb(235, 235, 235);
    font-size: 0.8rem;
}

.enLigne img {
    width: 15px;
    margin: 0;
}

.ecran img{
    width: 100%;
    margin-top: 50px;
    border-bottom: 0.1px solid rgb(54, 54, 54);
}

.info_live_streamer {
    display: flex;
    height: 80px;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.info_left {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#logo_streamer_live img{
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 10px;
    height: 60px;
}

#user_live {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#titre_live {
    margin-bottom: 10px;
}

#category_live {
    color:#bf94ff;
}

.live_group_info {
    margin-right: 20px;
}

.group_buttons button {
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

.bouton_info{
    background-color: #2f2f35;
    padding: 5px;
}

.bouton_abo {
    background-color: #9147ff;
    padding: 7px 10px 7px 10px;
    width: 150px;
    color: white;
}

.bouton_abo:hover {
    background-color: #6e2fce;
}

.info_right {
    display: flex;
    justify-content: space-around;
}

section {
    background-color: #18181b;
    border-left: 0.1px solid rgb(54, 54, 54);
    height: 100vh;
}

