/*
Boutons coeur, cloche, loupe et "Regardez sans publicité gratuitement" : #2f2f35
Boutons Se réabonner / chat : #9147ff 
*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 240px 1fr 323px;
    background-color: #0e0e10;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    grid-column: span 3;
    height: 50px;
    width: 100%;
    background-color: #18181b;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 0px rgb(14, 14, 14);
    position: fixed;
}

#header-gauche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 280px;
    font-weight: bold;
}

#header-gauche img {
    height: 100%;
}


#header-milieu {
    display: flex;
    align-items: center;
    
}

#boutonRecherche input {
    width: 370px;
    height: 35px;
    border-radius: 5px 0px 0px 5px;
    background-color: #18181b;
    padding-left: 5px;
    border: 1px solid rgb(117, 117, 117);
    font-weight: bolder;
}

#header-milieu button {
    height: 35px;
    background-color: #2f2f35;
    padding: 5px;
    border-radius: 0px 8px 8px 0px;
    border-style: none;
}

#header-milieu img {
    padding-top: 2px;
}

#header-droite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

#header-droite button {
    background-color: #2f2f35;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-style: none;
}

#bloc-logo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 150px;
}

#bloc-logo img {
    margin-left: 15px;
}

nav {
    background-color: #1f1f23;
    height: 100vw;
}

section {
    background-color: #18181b;
    border-left: 0.1px solid rgb(54, 54, 54);
}

