* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    h1 {
        font-size: 3.5rem;
        text-shadow: 3px 3px 3px rgb(138, 138, 138);
        padding: 0 10px;
        transition: transform 400ms;
        &:hover {
            transform: scale(1.1);
        }
    }
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform:uppercase;
        li {
            margin-left: 10px;
            margin-right: 10px;
        &:hover {
            cursor: pointer;
            color: rgb(112, 112, 112)
        }
        }
    }
}

#promo {
    color: #31A9EE;
    text-wrap: nowrap;
    a {
        display: flex;
        align-items: center;
        &:hover {
            color:#128dd4;
        }
    }
    img {
        height: 40px;
        margin-top: 5px;
    }
}

#textArticle {
    margin: 15px 0;
    color: rgb(112, 112, 112);
}

#logoHeader {
    display: flex;
    padding: 10px;

    img {
        height: 30px;
        padding: 5px;
        cursor: pointer;
        &:hover {
            background-color: rgb(197, 196, 196);
            border-radius: 5px;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.imgArticle {
    width: 600px;
    align-content: center;
    #imgChaussure {
    width: 100%;
    min-width: 200px;
    }
}

#iconCoeur {
    width: 35px;
    position: absolute;
    cursor: pointer;
    transition: ease-in-out 150ms;
    cursor: pointer;
    &:active {
        transform: scale(0.9);
    }
}

.infoArticle{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 40px;

    h2 {
        margin-bottom: 20px;
    }

    #tag {
        background-color: rgba(6, 209, 6, 0.356);
        color: green;
        width: 30px;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 5px;
    }

    #prix {
        font-weight: bold;
        font-size: 3em;
        sup {
            font-size: 0.5em;
        }
    }

    button{
        width: 100%;
        background-color: rgb(54, 54, 54);
        color: white;
        border-radius: 5px;
        border-style: none;
        padding: 10px;
        margin: 10px 0;
        transition: ease-in-out 150ms;
        cursor: pointer;
        &:hover {
            color: rgb(196, 196, 196);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}

#infoTailleCouleur {
    display: flex;
    justify-content: space-between;
}

#infoTailleArticle {
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    select {
        margin-top: 5px;
        padding: 10px 0;
        border-radius: 5px;
        border: 1px solid gray;
    }
}

#infoCouleurArticle {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    select {
        margin-top: 5px;
        padding: 10px 0;
        border-radius: 5px;
        border: 1px solid gray;
    }
}

#zoneTexte {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}

#menuBurger {
    display: none;
}

#label-menuBurger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#caraBurger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 20px;
        transform: rotate(180deg)
    }
}

#imgChevron {
    cursor: pointer;
}

#textCara {
    display: none;
    margin-top: 10px;
}



@media (max-width: 1300px) {
    header {
        ul {
            font-size: 1.3rem;
        }
        h1 {
        font-size: 3rem;
        }
    }
}

@media (max-width: 1120px) {
    nav ul{
        display: none;
    }
    
    #label-menuBurger {
        display: block;
    }

    #menuBurger:checked ~ nav ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav li {
        margin: 3px 0;
    }

    #promo img {
        display: none;
    }

    #imgChariot {
        position: absolute;
        top: 0;
        left: 0;
        margin: 17px;
    }

    #imgProfil {
        position: absolute;
        top: 0;
        right: 0;
        margin: 17px;
    }

    main {
        margin-top: 0;
    }

    header {
        flex-direction: column;
        padding-bottom: 0;
        height: auto;
    }

    .infoArticle{
        padding: 40px;
    }
}

@media (max-width: 715px) {
    header h1 {
        font-size: 2.5rem;
    }

    #logoHeader {
        margin: 13px;
        img {
        height: 27px;
        }
    }

    #iconCoeur {
        width: 5%;
    }
}

@media (max-width: 350px) {
    header {
        h1 {
        font-size: 2rem;
        }
    }

    nav ul {
        font-size: 0.9rem;
    }

    #logoHeader {
        img {
            margin: 23px 0;
            height: 15px;
        }
    }
}
