@font-face {
    font-family: "KarantinaLight";
    src: url("/assets/font/karantina/Karantina-Light.ttf") format("truetype")
}

@font-face {
    font-family: "KarantinaBold";
    src: url("/assets/font/karantina/Karantina-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "KarantinaReg";
    src: url("/assets/font/karantina/Karantina-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/font/roboto/Roboto-Regular.ttf") format("truetype")
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "KarantinaLight";
}

header {
    background-image: url("/assets/img/Group3.png");
    background-size: cover;
    background-position: center;
    height: 806px;
    width: 100%; 
    color: white;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}


header nav {
    margin-top: 15px;
    margin-bottom: 160px;
}

header ul {
    display: flex;
    justify-content: center;
    font-size: 30px; 
    list-style: none;
    font-family: "KarantinaBold";
}

header li {
    margin: 10px;
}

header li a:hover {
    color: #26C1DC;
}

.label-hamburger, #hamburger {
    display: none;
}

#titre {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titre p {
    font-size: 101px;
    width: 130px;
    font-family: "KarantinaReg";
    text-align: end;
}

#titre h1 {
    font-size: 290px;
    color: #26C1DC;
    padding: 20px;
    letter-spacing: 5px;
    text-shadow: -5px -5px 0px #ffffff,
                  5px -5px 0px #ffffff,
                  5px -5px 0px #ffffff,
                  -5px 5px 0px #ffffff,
                  5px  5px 0px #ffffff,
                  1px  1px 0px #ffffff;
}

#fleche {
    display: flex;
    justify-content: center;
    height: 96px;
}

#fleche img {
    grid-row: 20%;
    background-color: #26C1DC;
    border-radius: 50%;
    transition: transform 400ms;
    &:hover {
        transform: scale(1.1);
    }
}

#pageUne {
    display: grid;
    grid-template-columns: 1fr 607px;
    width: 100%;
}

#pageUne section {
    background-color: #26C1DC;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

#pageUne h2 {
    text-align: end;
    margin-bottom: 50px;
    font-size: 40px;
    letter-spacing: 2px;
}

#pageUne p {
    text-align: end;
    font-family: "Roboto";
    font-size: 15px;
    margin-bottom: 50px;
    overflow: hidden;
}

#pageUne h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    letter-spacing: 2px;
}

#fleche2 {
    text-align: center;
    margin-top: 50px;
    img {
        transition: transform 400ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.programme {
    background-color: white;
    text-align: center;
    margin: 60px;
}

#titreProgramme {
    font-size: 70px;
    color: #26C1DC;
    font-family: "KarantinaBold";
}

.programme p {
    font-family: "KarantinaBold";
    font-size: 30px;
    margin-top : 30px;
}

.galerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.galerie div { 
    height: 695px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
        background-color: #26c1dc79;
    }
}

.texteimg { 
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    &:hover {
        color: white;
    }
}

.texteimg h3 {
    font-size: 39px;
    padding: 30px;
}

.texteimg p {
    font-size: 20px;
    padding: 30px;
}

#imgMuscu {
    background-image: url("/assets/img/un.png");
}

#imgTraining {
    background-image: url("/assets/img/deux.png");
}

#imgNatation {
    background-image: url("/assets/img/trois.png");
}

#imgBoxe {
    background-image: url("/assets/img/quatre.png");
}

#imgFruits {
    background-image: url("/assets/img/cinq.png");
}

#imgYoga {
    background-image: url("/assets/img/six.png");
}

#imgCardio {
    background-image: url("/assets/img/sept.png");
}

#imgSauna {
    background-image: url("/assets/img/huit.png");
}

#pointCarrousel {
    display: none;
}

.texteMuscu {
    padding: 20px;
}

#carte {
    background-color: #D9D9D9;
    display: flex;
    padding-top: 60px;
    padding-bottom: 100px;
}

.villes {
    font-size: 26px;
    font-family: "KarantinaBold";
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 50px;
}

.contenaireCarte {    
    padding: 30px;
    position: relative;
}

.iconeCarte img {
    position: absolute;
    align-content: center;
    transition: transform 100ms;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

#iconLilles {
    left: 490px;
    top: 40px;
}

#iconParis {
    left: 430px;
    top: 150px;
}

#iconRennes {
    left: 180px;
    top: 180px;
}

#iconStrasbourg {
    left:730px;
    top: 210px;
}

#iconNantes {
    left: 200px;
    top: 270px;
}

#iconLyon {
    left: 550px;
    top: 450px;
}

#iconMarseille {
    left: 570px;
    top: 650px;
}

#iconBordeaux {
    left: 200px;
    top: 460px;
}

.villes p {
    margin-bottom: 50px;
}

.villes ul {
    padding-left: 50px;
}

#contact {
    background-image: url("/assets/img/image.png");
    background-size: cover;
    background-position-x: right;
    height: 1286px;
}

.fondcontact {
    background-color: #1331359a;
    height: 100%;
}

.formulaire {
    width: 40%;
    padding-left: 200px;
    padding-top: 150px;
}

.formulaire p {
    font-size: 42px;
    font-family: "KarantinaBold";
    color: white;
    margin-bottom: 40px;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 30px;
    border-radius: 10px;
    letter-spacing: 2px;
}

form label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
}


form button {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    cursor: pointer;
    transition: 200ms;
    &:hover {
        color: rgb(172, 172, 172);
    }
    &:active {
        transform: scale(0.9);
    }
}

form input, textarea {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding: 10px;
}

#informations {
    background-color: #133135;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 60px;
    padding-bottom: 100px;
    letter-spacing: 2px;
}

.liens {
    text-align: end;
    margin-right: 20px;
}

.liens p{
    text-align: center;
    font-size: 41px;
    margin-bottom: 20px;
}

.liens li {
    list-style: none;
    font-size: 28px;
}

.liens li:hover {
    filter:contrast(5%)
}

.reseaux {
    margin-left: 20px;
    padding-top: 50px;
}

.reseaux p {
    font-size: 39px;
    margin-bottom: 20px;
    text-align: center;
}

.reseaux img {
    margin-right: 25px;
    cursor: pointer;
}

.reseaux img:hover {
    filter:contrast(5%)
}

@media (max-width: 1400px) {
    #pageUne {
        grid-template-columns: 1fr;
    }

    #pageUne h2 {
        text-align: center;
    }

    #pageUne p {
        text-align: center;
    }

    #imgCouple {
        display: none;
    }

    #carte {
        flex-wrap: wrap;
    }

    .villes {
        width: 100%;
    }

    .contenaireCarte {
        margin: auto;
    }

    .formulaire {
        margin-right: auto;
        margin-left: auto;
        width: 60%;
        padding: 10px;
        p {
            padding-top: 100px;
            text-align: center;
        }
    }
    
}

@media (max-width: 900px) {
    #titre {
        flex-direction: column;
        text-align: center;
        p {
            text-align: center;
            width: 100%;
        }
        h1 {
            padding: 0;
        }
    }

    .galerie {
        grid-template-columns: 1fr 1fr;
    }

    #iconLilles {
        left: 60%;
        top: 5%;
        width: 6%;
    }
    
    #iconParis {
        left: 53%;
        top: 18%;
        width: 6%;
    }
    
    #iconRennes {
        left: 22%;
        top: 22%;
        width: 6%;
    }
    
    #iconStrasbourg {
        left: 89%;
        top: 26%;
        width: 6%;
    }
    
    #iconNantes {
        left: 24%;
        top: 33%;
        width: 6%;
    }
    
    #iconLyon {
        left: 67%;
        top: 54%;
        width: 6%;
    }
    
    #iconMarseille {
        left: 69%;
        top: 78%;
        width: 6%;
    }
    
    #iconBordeaux {
        left: 25%;
        top: 55%;
        width: 6%;
    }

    .formulaire {
        width: 80%;
    }

    #contact {
        height: 1000px;
    }

    #imgCarteFrance {
        width: 100%;
    }

    form {
        height: 500px;
    }
}

@media (max-width: 600px) {
    header {
        width: 100%;
    }

    #titre {
        margin-bottom: 50px;
        p {
            font-size: 70px;
        }
        h1 {
            font-size: 200px;
        }
    }

    .label-hamburger { 
        display: block; 
        font-style: bold;
        font-size: 1.9em;
        text-align: end;
        margin-right: 10px;
    }
    
    .label-hamburger:hover { 
        color: #26C1DC;
        cursor: pointer;
    }

    nav ul li { 
        display: none;
    }
    
    #hamburger:checked ~ ul li {
        display: block;
        text-align: center;
        font-size: 0.9em;
        margin-bottom: -40px;
    }

    .programme {
        margin-right: 20px;
        margin-left: 20px;
    }

    .galerie {
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
        div:hover{
            background-color: transparent;
        }
    }

    #pointCarrousel {
        display: flex;
        justify-content: space-around;
        align-items: end;
        position: absolute;
    }

    .point {
        padding: 10px;
        background-color: white;
        border-radius: 50%;
        height: 5px;
        width: 5px;
        margin-bottom: 50px;
        cursor: pointer;
        transition: 200ms;
        &:active {
            transform: scale(0.8);
        }
    }

    #imgTraining, #imgNatation, #imgBoxe, #imgFruits, #imgYoga, #imgCardio, #imgSauna {
        display: none;
    }

    #carte {

        padding-top: 0;
        padding-bottom: 0;
    }

    #informations {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        padding-top: 100px;

        .liens {
            margin: 0;
        }

        .reseaux {
            margin-top: 50px;
            margin-left: 0;
        }
    }
}

