@font-face {
    font-family: "KarantinaLight";
    src: url("/assets/font/karantina/Karantina-Light.ttf") format("truetype")
}

@font-face {
    font-family: "KarantinaBold";
    src: url("/assets/font/karantina/Karantina-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "KarantinaReg";
    src: url("/assets/font/karantina/Karantina-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/font/roboto/Roboto-Regular.ttf") format("truetype")
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "KarantinaLight";
}

header {
    background-image: url("/assets/img/Group3.png");
    background-size: cover;
    height: 806px;
    width: 100%;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color: white;
}


header nav {
    grid-row: 20%;
    margin: 10px;
}

header ul {
    display: flex;
    justify-content: center;
    font-size: 30px;
    list-style: none;
}

header li {
    margin: 10px;
}

header li a:hover {
    color: #26C1DC;
}


#titre {
    grid-row: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titre p {
    font-size: 101px;
    width: 100px;
    font-family: "KarantinaReg";
}

#titre h1 {
    font-size: 290px;
    color: #26C1DC;
    padding: 50px;
}

#fleche {
    display: flex;
    justify-content: center;
    height: 96px;
}

#fleche img {
    grid-row: 20%;
    background-color: #26C1DC;
    border-radius: 50%;
}

.pageUne {
    display: grid;
    grid-template-columns: 1fr 607px;
    width: 100%;
}

.pageUne section {
    background-color: #26C1DC;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.pageUne h2 {
    text-align: end;
    margin-bottom: 50px;
    font-size: 40px;
}

.pageUne p {
    text-align: end;
    font-family: "Roboto";
    font-size: 15px;
    margin-bottom: 50px;
}

.pageUne h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

#fleche2  {
    text-align: center;
    margin-top: 50px;
}

.programme {
    background-color: white;
    text-align: center;
    margin: 60px;
}

#titreProgramme {
    font-size: 70px;
    color: #26C1DC;
    font-family: "KarantinaBold";
}

.programme p {
    font-family: "KarantinaBold";
    font-size: 30px;
    margin-top : 30px;
}

.galerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #26C1DC;
}

.galerie img {
    width: 100%;
    height: 100%;
}

.galerie img:hover {
    opacity: 19%;
}

.carte {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.villes {
    font-size: 26px;
    font-family: "KarantinaBold";
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 100px;
}

.villes p {
    margin-bottom: 50px;
}

.villes ul {
    padding-left: 50px;
}

.carte img {
    padding: 50px;
    width: 100%;
}

#contact {
    background-image: url("/assets/img/image.png");
    background-size: cover;
    height: 1286px;
}

.formulaire {
    width: 40%;
    padding: 200px;
}

.formulaire p {
    font-size: 42px;
    font-family: "KarantinaBold";
    color: white;
    margin-bottom: 40px;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 700px;
    padding: 30px;
    border-radius: 10px;
}

form label {
    margin-bottom: 10px;
    margin-top: 10px;
}


form button {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
}

form input, textarea {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding: 10px;
}

#informations {
    background-color: #133135;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 60px;
    padding-bottom: 100px;
}

.liens {
    text-align: end;
    margin-right: 20px;
}

.liens p{
    font-size: 41px;
    margin-bottom: 20px;
}

.liens ul {
    list-style: none;
    font-size: 20px;
}

.reseaux {
    margin-left: 20px;
}

.reseaux p {
    font-size: 39px;
    margin-bottom: 20px;
}

.reseaux img {
    margin-right: 25px;
}

.reseaux img:hover {
    back
}
