:root {
    --green: #0d8a5a;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    &:hover {
        color: rgb(209, 209, 209);
    }
}

#imgBanniere {
    background-image: url('./legumos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

nav {
    height: 60px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
}

h1 {
    margin: 20px;
}

table {
    margin: auto;
    margin-bottom: 50px;
}

th {
    background-color: var(--green);
    color: yellow;
    padding: 5px 10px;
}

td {
    color: blue;
    padding: 3px 10px;
}

#containerFlexSales {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.containerSales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--green);
    width: 250px;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

.containerSales p {
    margin: 10px 0;
}

.containerSales p:first-child {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.formAjout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 550px;
    padding: 20px 10px;
    font-size: 1.2rem;
}

.form-grp {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 4px;
}

.bntSubmit {
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    color: white;
    margin-top: 20px;
    &:hover {
        cursor: pointer;
        background-color: #0d774e;
    }
}
