body {
    margin: 0;
    background-color: #333333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

h1 {
    text-align: center;
    color: white;
}

#plateau {
    background-color: #026401;
    width: 720px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.case {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    color: rgba(255, 255, 255, 0.432);
}

#result {
    text-align: center;
    font-size: 3rem;
}

.zoneResultat {
    display: none;
    flex-direction: column;
}

footer {
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
}
