body
{
    width: 100%;
    margin: auto;
}

.principal
{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

section
{
    background-color: #CCCC33;
    color:white;
    padding: 15px;
}

#s1
{
    grid-column: 1 / span 4;
}

#s2
{
    grid-row: 2 / span 4;
}

#s4
{
    grid-column: 3 / span 2;
}

#s5
{
    grid-column: 2 / span 2;
}

#s10
{
    grid-column: 2 /span 3;
}