body
{
    background-color:#222222;
    color:#FFFFFF;
    font-family: Verdana;
    margin:auto;
}

header
{
    display: flex;
    justify-content: space-between;
    background-color:#224422;
}

main {
    margin: 10px;
}

h1 {
    margin: auto;
}

ul
{
    padding: 0;
    margin: 0;
}

li
{
    background-color: #376137;
    margin:2px;
    padding: 2px;
    list-style-type: none;
    &:hover {
        background-color: #508a50;
    }
}

h1, h2
{
    color:#CCFFCC;
}

a
{
    color:#CCCCFF;
    text-decoration: none;
    &:hover {
        color:#9f9fcc;
    }
}

table
{
    border-style: solid;
    color: black;
    border-collapse: collapse;
}

th, tr
{
    border: 1px solid black;
}

th, tr, td
{
    padding: 8px;
}

.ligneA
{
    background-color: rgb(233, 233, 233);
}

.ligneB
{
    background-color: white;
}

footer
{
    text-align: center;
}

.logo
{
    width: 100px;
}

.avion
{
    width: 230px;
    height: 150px;
}

.galerie
{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

section
{
    padding: 5px;
    background-color: #3b3b3b;
    text-align: center;
    border: 1px solid black;
    margin: 20px;
}

.label-hamburger, #hamburger {
    display: none;
}


@media (max-width: 600px) {
    header img {
        display: none;
    }

    main {
        text-align: center;
    }
}

@media (max-width: 460px) {
    header {
        flex-direction: column;
    }

    nav {
        text-align: center;
    }

    nav ul, li {
        display: none;
    }

    .label-hamburger {
        display: block;
        font-style: bold;
        font-size: 1.9em;
        cursor: pointer;
        margin: 10px;
    }

    #hamburger:checked ~ ul, li {
        display: block;
    }
}