* { 
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
}