:root {
    --primary-color: blue 
}

html {
    display: flex;
    justify-content: center;
    font-family: Verdana;
}

body {
    width: 800px;
    border: 1px solid var(--primary-color);
    padding: 5px;
}

input, button {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px;
}

button {
    background-color: beige;
}
