* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --x: 50vw;
    --y: 50vh;
    cursor: none;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: radial-gradient(circle 150px at var(--x) var(--y), 
        #00000000 30%,
        #0005051a 40%,
        #05050080 60%,
        #000000bf 70%,
        #000000f2 100%),
        url("/assets/img/fond.jpg");
}