body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #182a52;
    display: flex;
    justify-content: center;
    width: 100%;
}

main {
    margin: auto;
    width: 60%;
}

main h1 {
    margin-top: 50px;
    text-align: center;
}

.galery {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.galery img {
    width: 100%;
    height: 21em;
    overflow: hidden;
}

.destination {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: white;
}

.description {
    width: 100%;
    padding: 20px;
}

p {
    font-size: 20px;
    text-align: justify;
}

.blue {
    color: blue;
}

.bouton {
    display: block;
    background-color: white;
    border-radius: 10px;
    border: 4px double black;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    &:hover {
        background-color: #ffffff;
        box-shadow: 10px 5px 5px #506180;
        color: black;
        text-align: center;
    }
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #182a52;
    color: white;
}

footer a {
    color: white;
}

@media screen and (min-width: 997px) and (max-width: 1563px) {
    main {
        width: 100%;
    }

    .galery img {
        height: 12em;
    }

    h2 {
        font-size: clamp(5px, 2em, 2rem);
    }

    .destination {
        font-size: clamp(5px, 2em, 2rem);
    }

    footer {
        font-size: clamp(4px, 1em, 1rem);
    }
}

/* Media query pour tablette */
@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        margin: auto;
        width: 80%;
    }

    .description {
        width: 85%;
    }

    form {
        justify-items: center;
    }

    .destination {
        flex-direction: column;
    }

    footer {
        font-size: clamp(4px, 1em, 1rem);
    }
}

/* Media query pour téléphone */
@media only screen and (max-width: 767px) {
    main {
        margin: auto;
        width: 100%;
    }

    .destination {
        font-size: clamp(5px, 2em, 2rem);
    }

    h2 {
        font-size: clamp(5px, 2em, 2rem);
    }

    .galery img {
        height: 11em;
    }

    .description {
        width: 85%;
    }

    form {
        justify-items: center;
    }

    .destination {
        flex-direction: column;
    }

    footer {
        font-size: clamp(4px, 1em, 1rem);
    }
}
