:root {
    --color1: darkblue;
    --color4: lightcyan;
    --color5: darkgrey; 
    --color6: #FFFFFF33; 
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 600px; 
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color4);
    color: var(--color1)
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,button {
    background-color: var(--color6);
    width: 350px;
    margin: 5px;
    padding: 5px;
    color: var(--color1);
    border: 1px solid var(--color5);
}

#result {
    display: none;
    margin-top: 10px;
    width: 350px;
    background-color: var(--color6);
    border: 1px solid var(--color5);
}