body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

h1 {
    margin: 15px;
    font-size: 2.5em;
}

#zoneAffichage {
    margin: 10px;
    border: 1px dashed black;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}

#zoneInput {
    margin: 20px;
}

button {
    border-radius: 3px;
    border-style: none;
    background-color: rgb(209, 209, 209);
    padding: 3px;
    &:hover {
    cursor: pointer;
    background-color: rgb(175, 175, 175);
    }
}

#zoneImg {
    height: 100px;
    padding: 2px;
}

img {
    height: 100%;
}