:root {
    --primary-color: rgb(95, 133, 52);
    --secondary-color: rgb(99, 1, 94);
}

header {
    display: flex;
    justify-content: space-between;
}

#zoneIncorrect {
    display: none;
    padding: 0 10px 0 10px;
    border: 1px solid var(--primary-color);
    background-color: rgb(221, 221, 221);
    color: var(--secondary-color);
    align-content: center;
}

#zoneCorrect {
    display: none;

    #hello {
        color: var(--secondary-color);
    }

    #btnDeconnexion {
        margin-top: 20px;
        padding: 4px;
        border: 2px solid var(--primary-color);
        margin-left: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    table {
        border-collapse: collapse;
        margin: 30px 10px 50px 10px;

        tr,
        th,
        td {
            border: 2px solid var(--primary-color);

            &:hover {
                background-color: rgb(140, 140, 143);
            }
        }
    }
}

body {
    border: 2px solid rgb(65, 65, 65);
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px
}

h1 {
    margin: 0;
}

span {
    margin-left: 5px;
}

form {
    border: 1px dashed var(--primary-color);
    padding: 10px;
    color: var(--secondary-color);
    margin-top: 5px;
}

input {
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid var(--primary-color);
    background-color: rgb(221, 221, 221);
    outline: none;

    &:focus {
        border: 1px solid var(--secondary-color);
    }
}

button {
    margin-top: 20px;
    padding: 4px;
    border: 2px solid var(--primary-color);
    margin-left: 10px;

    &:hover {
        cursor: pointer;
    }
}