:root {
    --primary-color: rgb(95, 133, 52);
    --secondary-color: rgb(99, 1, 94);
}

body {
    border: 2px solid black;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 10px;
}

span {
    margin-left: 5px;
}

form {
    border: 1px dashed var(--primary-color); 
    margin: 10px;
    padding: 10px;
    color: var(--secondary-color)
}

input {
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid var(--primary-color);
    background-color: rgb(221, 221, 221);
    outline: none;
    &:focus {
        border: 1px solid var(--secondary-color);
    }
}

button {
    margin-top: 20px;
    padding: 4px;
    border: 1px solid var(--primary-color);
    margin-left: 10px;
    &:hover {
        cursor: pointer;
    }
}
