body
{
    font-family: monospace;
}

h1
{
    color: #008CBA;
}

#date
{
    font-size: small;
    color: black;
    background-color: rgb(219, 219, 219);
    border-radius: 3px;
    padding: 2px;
    font-style: italic;
}

#boutons
{
    margin-top: 10px;
    margin-bottom: 10px;
}

button
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-style: none;
    color: white;
}

#un
{
    background-color: #008CBA;
}

#un:hover {
    background-color: #066f92; 
}

#deux
{
    background-color: #4CAF50;
}

#deux:hover
{
    background-color: #469149;
}

#trois
{
    background-color: #555555;
}

#trois:hover
{
    background-color: #414141;
}

table
{
    border-style: outset;
}

th, td
{
    border: 1px solid black;
    padding: 2px;
}

th
{
    background-color: rgb(206, 206, 206);
}

#fondbleu
{
    background-color: #008CBA;
    color: white;
    padding: 2px;
}

#fondvert
{
    background-color: #4CAF50;
    color: white;
    padding: 1px;
}